.side
  .side-header
    .header-box
      %p.header-box__user-name
        = current_user.name
      %ul.header-box__box-item
        = link_to "#", class: "header-box__box-item__group-btn" do
          %i.fa.fa-edit
        = link_to edit_user_path(current_user), class: "header-box__box-item__config-btn" do
          %i.fa.fa-cog
  .side-group-list
    .side-group-list__box
      %p.side-group-list__box__name techcamp
      %p.side-group-list__box__comment まだメッセージがありません
    .side-group-list__box
      %p.side-group-list__box__name techcamp
      %p.side-group-list__box__comment まだメッセージがありません
